{% extends 'base.html' %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="POST" novalidate>
  {{ form.hidden_tag() }}
  {{ render_field(form.username)}}
  {{ render_field(form.password)}}
  {{ render_checkbox(form.remember_me)}}

  <p>{{form.submit(class="btn btn-primary")}}</p>
</form>
<p>
  {{ _('Forgot Your Password?') }}
  <a href="{{ url_for('auth.reset_password_request') }}">{{_('Click to Reset It')}}</a>
</p>
<p>{{_('New User?')}} <a href="{{url_for('auth.register') }}">{{_('Click to Register!')}}</a></p>
{% endblock content %}