{% from "_bootstrapformhelpers.html" import render_field, render_checkbox %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if title %}
  <title>{{ title }} - Microblog</title>
  {% else %}
  <title>Welcome to Microblog</title>
  {% endif %}

  <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="/">Microblog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('explore')}}">Explore</a>
          </li>


        </ul>

      </div>

    </div>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login')}}"><button class="btn btn-success navbar-btn">Login</button> </a> &nbsp;&nbsp;
    <a href="{{ url_for('register')}}"><button class="btn btn-success navbar-btn">Signup</button> </a>
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}"><button
        class="btn btn-success navbar-btn">Profile</button> </a>&nbsp;&nbsp;
    <a href="{{ url_for('logout')}}"><button class="btn btn-success navbar-btn">Logout</button> </a>
    {% endif %}
  </nav>


  <main>
    <div class="container">
      {% with messages=get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">

        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
      {% endif %}
      {% endwith %}
      {% block content %}
      base content block
      {% endblock %}

    </div>
  </main>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale)}}
  {% block scripts %}


  {% endblock scripts %}

</body>

</html>